@model IEnumerable<XJob.Models.Report>

@{
    ViewBag.Title = "RegisteredReps";
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
}

<h2>Registrated reports</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Username)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PhoneNumber)
		</th>
	</tr>

@foreach (var item in Model) {
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.Title)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Description)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Username)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.PhoneNumber)
	</td>

	<td>
		@Html.ActionLink("Delete", "Delete", new { id = item.Id })
	</td>
</tr>
}

</table>
